# Dependencies
node_modules

# Build
dist

# Environment
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# IDE
.vscode/*
!.vscode/settings.json
.idea
